body{
    margin: 0;
    background: linear-gradient(to left bottom,#6464ac,#aa607f,#6464ac);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
background-color: rgba(207, 200, 204, 0.4);
border: 2px solid #6464ac;
padding: 20px;
box-shadow:0 10px 25px rgba(0,0,0,.8) ;
border-radius: 15px;
width: 70%;
text-align: center;
color: rgb(139, 20, 20);
}
.heading{
    font-size: 35px;
    font-weight: 200;
    font-family:sans-serif;
    letter-spacing: 1px;
}
.joke{
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}
.btn{
    font-size: 19px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding:10px;
    background-color:#aa607f;
    border-color: rgb(100, 100, 172,.7);
    text-transform: uppercase;
    width: 200px;
    color:rgb(139, 20, 20);
    font-family:    sans-serif;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: rgba(160, 109, 109, 0.5);
    box-shadow: rgb(0,0,0, .20);
    transform: all 300ms ease;
}